In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

# Store the CSV you saved and created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Dunedin,NZ,2021-09-22 23:17:07,-45.8742,170.5036,58.80,54,0,3.00
1,1,Dikson,RU,2021-09-22 23:18:25,73.5069,80.5464,35.56,98,100,8.70
2,2,Bambous Virieux,MU,2021-09-22 23:18:25,-20.3428,57.7575,70.21,83,40,11.50
3,3,Shingu,JP,2021-09-22 23:18:26,33.7333,135.9833,76.19,68,1,4.97
4,4,Mataura,NZ,2021-09-22 23:18:26,-46.1927,168.8643,55.47,40,7,2.86

In [2]:
# Get the data types.
city_data_df.dtypes

City ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [3]:
# Configure gmaps to use your Google API key
gmaps.configure(api_key=g_key)

In [4]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps=[]
for temp in max_temp:
    temps.append(max(temp, 0))

In [7]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5) 
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, 
                                max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent humidity
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5) 
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, 
                                max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of Percent Cloudiness
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the percent cloudiness.
clouds = city_data_df["Cloudiness"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5) 
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, 
                                max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of Wind Speed
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the wind speed.
wind = city_data_df["Wind Speed"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5) 
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, 
                                max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Ask the customer to add a minimum and maximum temperature.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [14]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
3,3,Shingu,JP,2021-09-22 23:18:26,33.7333,135.9833,76.19,68,1,4.97
6,6,Lorengau,PG,2021-09-22 23:18:27,-2.0226,147.2712,82.04,79,97,8.99
11,11,Jadu,LY,2021-09-22 23:18:29,31.9530,12.0261,76.73,23,10,7.34
12,12,Odweyne,SO,2021-09-22 23:18:29,9.4092,45.0640,79.07,44,68,9.53
16,16,Balsas,BR,2021-09-22 23:18:30,-7.5325,-46.0356,89.98,22,87,5.14
20,20,Mitsamiouli,KM,2021-09-22 23:18:32,-11.3847,43.2844,76.28,78,0,4.61
23,23,Dingle,PH,2021-09-22 23:18:33,10.9995,122.6711,77.99,88,91,3.65
26,26,Vaini,TO,2021-09-22 23:18:34,-21.2000,-175.2000,77.16,83,20,11.50
30,30,Vanimo,PG,2021-09-22 23:18:36,-2.6741,141.3028,80.89,82,88,5.61
35,35,Lakatoro,VU,2021-09-22 23:18:38,-16.0999,167.4164,77.41,84,100,11.10

In [15]:
preferred_cities_df["Max Temp"].describe()

count    172.000000
mean      80.415349
std        3.453251
min       75.160000
25%       77.540000
50%       79.825000
75%       82.780000
max       89.980000
Name: Max Temp, dtype: float64

In [17]:
preferred_cities_df["Max Temp"].isnull().sum()

0

In [18]:
preferred_cities_df["Max Temp"].notnull().sum()

172

In [20]:
preferred_cities_df.count()

City ID       172
City          172
Country       170
Date          172
Lat           172
Lng           172
Max Temp      172
Humidity      172
Cloudiness    172
Wind Speed    172
dtype: int64

In [21]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temperature, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

           City Country  Max Temp      Lat       Lng Hotel Name
3        Shingu      JP     76.19  33.7333  135.9833
6      Lorengau      PG     82.04  -2.0226  147.2712
11         Jadu      LY     76.73  31.9530   12.0261
12      Odweyne      SO     79.07   9.4092   45.0640
16       Balsas      BR     89.98  -7.5325  -46.0356
20  Mitsamiouli      KM     76.28 -11.3847   43.2844
23       Dingle      PH     77.99  10.9995  122.6711
26        Vaini      TO     77.16 -21.2000 -175.2000
30       Vanimo      PG     80.89  -2.6741  141.3028
35     Lakatoro      VU     77.41 -16.0999  167.4164

In [23]:
# Set the parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key":g_key
}

In [28]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude .
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat}, {lng}"
    
    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
# Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [31]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
3,Shingu,JP,76.19,33.7333,135.9833,Shingu UI Hotel
6,Lorengau,PG,82.04,-2.0226,147.2712,Lorengau Harbourside Hotel
11,Jadu,LY,76.73,31.9530,12.0261,امياس للصرافة
12,Odweyne,SO,79.07,9.4092,45.0640,Eng Hiirey House
16,Balsas,BR,89.98,-7.5325,-46.0356,Novo Hotel
20,Mitsamiouli,KM,76.28,-11.3847,43.2844,Foyer ADM
23,Dingle,PH,77.99,10.9995,122.6711,SEGAYA PROPERTY
26,Vaini,TO,77.16,-21.2000,-175.2000,Keleti Beach Resort
30,Vanimo,PG,80.89,-2.6741,141.3028,Vahmoneh Lodge Vanimo
35,Lakatoro,VU,77.41,-16.0999,167.4164,Lakatoro Palm Lodge

In [34]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} F</dd>
<dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [35]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
#Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))