## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,16,Blackwater,AU,83.32,clear sky,-23.5833,148.8833,Blackwater Motor Inn
1,27,Butaritari,KI,83.73,few clouds,3.0707,172.7902,Isles Sunset Lodge
2,28,Thakurgaon,BD,86.68,clear sky,26.0333,88.4667,Chowdhury Khokon Fisheries Head Office
3,35,Soe,ID,85.55,few clouds,-9.8607,124.2840,Dena Hotel
4,39,Vaini,TO,75.36,few clouds,-21.2000,-175.2000,Keleti Beach Resort

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} F</dd>
<dl>

"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.
# (1) Sao Felix Do Xingu, BR (2) Natal, BR (3) Touros, BR (4) Cururupu, BR

vacation_start = vacation_df.loc[(vacation_df["City"] == "Sao Felix Do Xingu")]
vacation_end = vacation_df.loc[(vacation_df["City"] == "Sao Felix Do Xingu")]
vacation_stop1 = vacation_df.loc[(vacation_df["City"] == "Natal")]
vacation_stop2 = vacation_df.loc[(vacation_df["City"] == "Touros")] 
vacation_stop3 = vacation_df.loc[(vacation_df["City"] == "Cururupu")]

In [6]:
vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
179,607,Sao Felix Do Xingu,BR,77.23,broken clouds,-6.6447,-51.995,Rio Xingu Camping

In [7]:
sao = vacation_start[["Lat", "Lng"]].to_numpy()
tuple(sao[0])

(-6.6447, -51.995)

In [8]:
vacation_stop1

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
130,425,Natal,BR,77.65,few clouds,-5.795,-35.2094,Villa Park Hotel | Natal

In [9]:
natal = vacation_stop1[["Lat", "Lng"]].to_numpy()
tuple(natal[0])

(-5.795, -35.2094)

In [10]:
vacation_stop2

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
150,501,Touros,BR,77.9,clear sky,-5.1989,-35.4608,INN NEW HORIZON

In [11]:
touros = vacation_stop2[["Lat", "Lng"]].to_numpy()
tuple(touros[0])

(-5.1989, -35.4608)

In [12]:
vacation_stop3

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
117,399,Cururupu,BR,76.59,overcast clouds,-1.8283,-44.8683,POUSADA TRAVÉS'CIA

In [13]:
curu = vacation_stop3[["Lat", "Lng"]].to_numpy()
tuple(curu[0])

(-1.8283, -44.8683)

In [14]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = tuple(sao[0])
end = tuple(sao[0])
stop1 = tuple(natal[0])
stop2 = tuple(touros[0])
stop3 = tuple(curu[0])

In [15]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
roundtrip = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode='DRIVING')
fig.add_layer(roundtrip)
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1,vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,607,Sao Felix Do Xingu,BR,77.23,broken clouds,-6.6447,-51.9950,Rio Xingu Camping
1,425,Natal,BR,77.65,few clouds,-5.7950,-35.2094,Villa Park Hotel | Natal
2,501,Touros,BR,77.90,clear sky,-5.1989,-35.4608,INN NEW HORIZON
3,399,Cururupu,BR,76.59,overcast clouds,-1.8283,-44.8683,POUSADA TRAVÉS'CIA

In [19]:
# 9 Using the template add hotel name, city name, country, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} &#8304;F</dd>
<dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [20]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))